# Q1. Which of the following is mutable in nature Series, DataFrame, Panel?




In pandas, both Series and DataFrame are mutable in nature, meaning their values can be changed after they are created.

A Series is a one-dimensional array-like object that can hold any data type, such as integers, floats, strings, and Python objects. You can change the values in a Series by assigning new values to specific index positions.

A DataFrame is a two-dimensional tabular data structure consisting of rows and columns, similar to a spreadsheet or SQL table. You can modify the values in a DataFrame by assigning new values to specific cells, columns, or rows.

On the other hand, a Panel is a three-dimensional data structure, which is a collection of multiple DataFrames. In pandas version 1.0.0 and later, the Panel is deprecated and replaced with the more efficient and flexible multi-index DataFrame. Multi-index DataFrame is also mutable like DataFrame.

# Q2. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q3. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
l = [1,2,34,56,7,8,9,0,22]
import pandas as pd
series = pd.Series(l)
print(series)

0     1
1     2
2    34
3    56
4     7
5     8
6     9
7     0
8    22
dtype: int64


# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure consisting of rows and columns, similar to a spreadsheet or SQL table. It is the most commonly used Pandas object and is designed to handle a variety of data types, including numerical, categorical, and textual data.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type, such as integers, floats, strings, or Python objects. Each element in a Series has a label called an index.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [6]:
import pandas as pd

# create a Series
s = pd.Series([1, 2, 3, 4, 5], name='Numbers')

# create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'San Francisco', 'Seattle']})

# print the Series and DataFrame
print(s)
print(df)

0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35        Seattle

In the code, we first create a Series called s that contains five integers and is labeled as 'Numbers'. We then create a DataFrame called df that contains three columns ('Name', 'Age', and 'City') and three rows, with each row representing the data for one person.

The main differences between a Series and a DataFrame are:

A Series has only one column of data, while a DataFrame can have multiple columns.
A Series has only one index, while a DataFrame can have multiple row and column indexes.
A DataFrame is a two-dimensional object, while a Series is a one-dimensional object.
In the output, you can see that the Series s has only one column and one index, while the DataFrame df has three columns and three rows, with both row and column indexes.

# Q5. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
import pandas as pd
name = pd.Series(["ravi","kishan","jaya"])
city = pd.Series(["delhi","bikaner","bhiwandi"])
age  = pd.Series([26,23,22])
data = {'Name' : name , 'City' : city , 'Age' : age}
df   = pd.DataFrame(data)
print(df)

     Name      City  Age
0    ravi     delhi   26
1  kishan   bikaner   23
2    jaya  bhiwandi   22

# Q6. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions are:

head() and tail(): These functions allow you to view the first or last few rows of a DataFrame. They are useful for quickly getting a sense of the structure and content of the DataFrame. 
info(): This function displays information about the DataFrame, such as the number of rows and columns, the data type of each column, and the amount of memory used by the DataFrame. For example:

# Q7. Create a Pandas DataFrame that contains the following data:

In [11]:
import pandas as pd
df = pd.DataFrame({"name" : ["alice","bob","claire"] , "age" : [25,30,27] , "gender" : ["female" , "male" , "female"]})
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female